*

!app/
!bin/
!config/
!db/
!docker/ssh/
!external_libs
!features/
!lib/
!modules/
!products/
!public/
!quattro_injection/
!script/
!spec/
!vendor/

!.codeclimate.yml
!.rspec
!.ruby-version
!Gemfile
!Gemfile.lock
!Rakefile
!app_name
!config.ru
!scripts/assets.sh
